body {
    background-color: #bdf047;
    font-family: monospace, tacoma;
}

header {
    background-color: black;
    color: white;
    padding-top: 10px;
}

button {
    color: white;
    background-color: black;
    border: 20px 30px;
}

