body {
    background: linear-gradient(to left, #22217a, #7D7CBE);
    font-family: tahoma, futura;
}

form {
    background: linear-gradient(to left, #66659b, #E5E5F2);
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    padding: 10px 10px 10px 10px;
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 20px;
}

h2 {
    color: #000000;
    background: linear-gradient(to left, #7D7CBE, #E5E5F2);
    text-align: center;
    padding: 20px 10px 10px 10px;
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 20px;
    
}

h3 {
    color: #000000;

}

p {
    color: #000000;
}